* {
  overflow-x: hidden;
  font-family: "Montserrat"; }

.centrar {
  display: flex;
  justify-content: center;
  align-items: center; }

.separador {
  height: 3em;
  background-color: #E6E7E8; }

.colorPrincipal {
  color: #45658F; }

.bg-primary {
  background-color: #45658F; }

.bg-secondary {
  background-color: #8F5E04; }

.navbar-nav .nav-link.active {
  color: #45658F; }

.nav-link {
  display: block;
  padding: 0.5rem 0;
  font-size: var(--bs-nav-link-font-size);
  font-weight: 600;
  color: #8F5E04;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

.barraNavegacion {
  color: #45658F;
  background-color: #E6E7E8; }

.banner .bordeBanner {
  border: 5px solid #5EA4FF;
  border-radius: 0.5rem;
  padding: 0.5em; }

.banner h2 {
  color: #FFFF;
  background-color: #8F5E04;
  font-weight: 400;
  text-transform: capitalize; }

.banner img {
  height: 100%;
  object-fit: cover; }

.banner .carousel-item {
  height: 60vh; }

.servicios {
  color: white; }
  .servicios h1 {
    color: #45658F; }
  .servicios .tarjeta {
    background-image: linear-gradient(to right, #234a7d, #2c5a96, #366bb0, #3f7cca, #498de5); }
    .servicios .tarjeta .tarjetain {
      margin: 4px; }
      .servicios .tarjeta .tarjetain img {
        height: 100%;
        object-fit: cover; }
      .servicios .tarjeta .tarjetain h3 {
        font-size: 1.3rem;
        text-transform: capitalize; }
      .servicios .tarjeta .tarjetain p {
        font-size: 0.9rem; }

.presupuesto {
  border: 5px solid #5EA4FF;
  border-radius: 0.5rem;
  padding: 4em; }
  .presupuesto p {
    text-align: center;
    font-size: 1.5rem; }
  .presupuesto a {
    display: inline-block;
    color: #45658F;
    font-weight: 700;
    background-color: #DB9E2C;
    border: 3px #45658F solid;
    border-radius: 20px;
    padding: 0.5em;
    text-transform: uppercase;
    text-decoration: none; }

footer p {
  color: #8F5E04;
  font-weight: 650; }

footer a {
  color: #45658F;
  font-weight: 500;
  text-decoration: none; }

footer .footer {
  background-color: #E6E7E8; }

footer .footCopyright {
  padding: 1.5em;
  text-align: center; }

footer .facebook {
  color: #3b5998;
  font-size: 1.1rem; }

footer .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 1.1rem;
  -webkit-background-clip: text;
  color: transparent; }

footer .twitter {
  color: #1DA1F2;
  font-size: 1.1rem; }
