$color-primario: #5EA4FF;
$color-secundario: #DB9E2C;
$color-primario-osc: #45658F;
$color-secundario-osc: #8F5E04;

$tipografia-principal: 'Montserrat';

$colores-redes: (
    facebook: #3b5998,
    instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%),
    twitter: #1DA1F2
);